.MoreAboutUs {
  background-color: #ffffffb4;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: var(--subHeader-font);
  font-weight: bold;
  border: none;
  
}
.MoreAboutUs *{
  color: rgb(0, 0, 0);
}
.AboutUsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.DiscriptionBreif p{
  font-size: var(--subHeader-font);
  line-height: 1.2;
  text-transform: capitalize;
}
h1{
  text-align: center;
}
@media only screen and (max-width :550px){
  .AboutUsSection{
    flex-wrap: wrap;
  }
  .DiscriptionBreif p{
    font-size: var(--normal-text);
  }
  h1{
    font-size: var(--headers-font);
  }
}