@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root {
  --backGround-Color: #002b5b;
  --hovered-text-Color: #57c5b6;
  --border-radius: 15px;
  --headers-font: 24px;
  --subHeader-font: 18px;
  --normal-text: 14px;
  --font-family: "Josefin Sans", sans-serif;
  --text-Color: #fff;
  --transtion-time: 400ms ease-in-out;
}
*{
  text-decoration: none;
}
button{

  font-family: var(--main-font);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--backGround-Color);
  color: var(--text-Color);
  font-family: var(--font-family);
  text-decoration: none;
  width: 100%;
}
button{
  cursor: pointer;
}
.App{

  margin: 0px 1rem;
  max-width: 100%;
}
img {
  max-width: 100%;
}

@media only screen and (max-width:500px){
  .App{
    margin: 0;
  }
}