.ProductDetails-Container{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-top: 2rem;
}
.CourseDescription{
    height: 500px;
    max-width: 50%;
}
.ProductDetails-Container figure{
    width :50%;
    height: 400px;
}
img{
    width :100%;
    object-fit: cover;
    height: 100%;
}
.ProductDetails-Container .ComingSoon{
    color: tomato;
}
.ProductDetails-Container .Open{
    color: lime;
}
.CourseDescription .status{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.CourseDescription .status button {
    text-align: center;
    line-height: 1;
    padding:  10px;
    font-weight: 600;
    color: aliceblue;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid white;
    transition: 400ms ease-in-out;
}
.CourseDescription .status button:hover{
    color: var(--backGround-Color);
    background-color: #fff;
}
.CourseDescription p{
    line-height: 1.3;
}
@media only screen and (max-width:1000px){
    .ProductDetails-Container{
        display: flex;
        flex-flow: column-reverse;
        width: 100%;
        
    }
    .ProductDetails-Container figure{
        width: 100%;
        margin: 0;
        
    }
    .ProductDetails-Container .CourseDescription {
        max-width:100%;
        display: flex;
        flex-flow: column;
        height: fit-content;
        align-items: flex-start;
        justify-content: center;
    }
    .status button{
       margin-left: 1rem;
    }
    .status{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}